In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
# Carregar o arquivo CSV em um DataFrame
df = pd.read_csv('/kaggle/input/employee-data-analysis/general_data.csv')


# Visualizar as colunas
print(df.columns)

/kaggle/input/employee-data-analysis/manager_survey_data.csv
/kaggle/input/employee-data-analysis/employee_survey_data.csv
/kaggle/input/employee-data-analysis/general_data.csv
Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [2]:
# Renomeando as colunas
df = df.rename(columns={
    'Age': 'Idade',
    'Attrition': 'Atrito',
    'BusinessTravel': 'ViagemNegocios',
    'Department': 'Departamento',
    'DistanceFromHome': 'DistanciaCasa',
    'Education': 'Educacao',
    'EducationField': 'AreaEducacao',
    'EmployeeCount': 'ContagemFuncionarios',
    'EmployeeID': 'IDFuncionario',
    'Gender': 'Genero',
    'JobLevel': 'NivelCargo',
    'JobRole': 'Cargo',
    'MaritalStatus': 'EstadoCivil',
    'MonthlyIncome': 'RendaMensal',
    'NumCompaniesWorked': 'NumEmpresasAnteriores',
    'Over18': 'Maioridade',
    'PercentSalaryHike': 'AumentoPercentualSalario',
    'StandardHours': 'HorasPadrao',
    'StockOptionLevel': 'NivelOpcaoAcoes',
    'TotalWorkingYears': 'AnosTrabalhadosTotal',
    'TrainingTimesLastYear': 'NumTreinamentosAnoPassado',
    'YearsAtCompany': 'AnosNaEmpresa',
    'YearsSinceLastPromotion': 'AnosDesdeUltimaPromocao',
    'YearsWithCurrManager': 'AnosComGerenteAtual'
})

In [3]:
print(df.columns)

Index(['Idade', 'Atrito', 'ViagemNegocios', 'Departamento', 'DistanciaCasa',
       'Educacao', 'AreaEducacao', 'ContagemFuncionarios', 'IDFuncionario',
       'Genero', 'NivelCargo', 'Cargo', 'EstadoCivil', 'RendaMensal',
       'NumEmpresasAnteriores', 'Maioridade', 'AumentoPercentualSalario',
       'HorasPadrao', 'NivelOpcaoAcoes', 'AnosTrabalhadosTotal',
       'NumTreinamentosAnoPassado', 'AnosNaEmpresa', 'AnosDesdeUltimaPromocao',
       'AnosComGerenteAtual'],
      dtype='object')

In [4]:
# Distribuição da idade dos funcionários
print('Distribuição de idade dos Funcionários')
idade_distribution = df['Idade'].value_counts().reset_index(name='Quantidade')
idade_distribution

Distribuição de idade dos Funcionários

    Idade  Quantidade
0      35         234
1      34         231
2      31         207
3      36         207
4      29         204
5      32         183
6      30         180
7      38         174
8      33         174
9      40         171
10     37         150
11     28         144
12     27         144
13     42         138
14     39         126
15     45         123
16     41         120
17     26         117
18     46          99
19     44          99
20     43          96
21     50          90
22     24          78
23     25          78
24     49          72
25     47          72
26     55          66
27     48          57
28     51          57
29     53          57
30     52          54
31     54          54
32     22          48
33     58          42
34     23          42
35     56          42
36     21          39
37     20          33
38     59          30
39     19          27
40     18          24
41     60          15
42     57          12

In [5]:
# Distribuição por gênero, estado civil e educação
print('Distribuição de idade dos Funcionários')
genero_distribution = df['Genero'].value_counts()
estadocivil_distribution = df['EstadoCivil'].value_counts()
education_distribution = df['Educacao'].value_counts()

genero_distribution
estadocivil_distribution 
education_distribution

Distribuição de idade dos Funcionários

Educacao
3    1716
4    1194
2     846
1     510
5     144
Name: count, dtype: int64

In [6]:
#Pq deixaram a empresa ?
taxa_attrition = df['Atrito'].value_counts(normalize=True)
taxa_attrition * 100

Atrito
No     83.877551
Yes    16.122449
Name: proportion, dtype: float64